#hero {
    overflow: hidden;
    background: url(../../assets/images/hero/hero.svg);
    background-size: 100% 100%;
    padding-top: 37.5rem;
    border-radius: 13px 13px 24px 24px;

    .hero-container {
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(21px);
        padding: 0 10px;


        .left {
            padding: 0 15px;

            img {
                border-radius: 50%;
                position: relative;
                bottom: 40px;
                background: #fff3eb;
                border-radius: 50%;
                object-fit: cover;
            }

            .contact {
                margin-left: 25px;
                place-items: center;
                display: grid;
                grid-template-columns: repeat(2, auto);
                column-gap: 24px;

                span {
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 0.02em;
                    color: #07143B;
                }

                .contact-left {
                    h5 {
                        font-weight: 700;
                        font-size: 23px;
                        line-height: 130%;
                        letter-spacing: 0.02em;
                        color: #EA6A12;
                        margin-bottom: 0 !important;
                    }

                    span {
                        column-gap: 5px;
                    }
                }
            }
        }

        .list {
            column-gap: 15px;

            .list-item {
                padding: 8px;
                background: #EA6A12;
                color: #FFFFFF;
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                text-align: center;

                .count {
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 175%;
                    letter-spacing: 0.02em;
                }
            }
        }
    }
}